<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 17:35:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pages1.ClickOnTab()[pri:0, instance:SelniumDemo.SelniumDemo.Pages1@20e2cbe0]">ClickOnTab</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 17:35:00</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pages1.ClickonTab2()[pri:0, instance:SelniumDemo.SelniumDemo.Pages1@20e2cbe0]">ClickonTab2</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 17:34:43</td>   <td>-17167</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Pages1.testSetup()[pri:0, instance:SelniumDemo.SelniumDemo.Pages1@20e2cbe0]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
</table>
