<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 22:35:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pages1.ClickOnTab()[pri:0, instance:SelniumDemo.SelniumDemo.Pages1@28feb3fa]">ClickOnTab</td> 
  <td>TestNG-test=Test-1@74913478</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 22:35:53</td>   <td>26768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pages1.ClickOnTab()[pri:0, instance:SelniumDemo.SelniumDemo.Pages2@675d3402]">ClickOnTab</td> 
  <td>TestNG-test=Test-1@74913478</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>21/06/06 22:36:06</td>   <td>40303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pages2.ClickOnTab2()[pri:0, instance:SelniumDemo.SelniumDemo.Pages2@675d3402]">ClickOnTab2</td> 
  <td>TestNG-test=Test-1@74913478</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 22:35:31</td>   <td>5355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pages1.ClickonTab2()[pri:0, instance:SelniumDemo.SelniumDemo.Pages1@28feb3fa]">ClickonTab2</td> 
  <td>TestNG-test=Test-1@74913478</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 22:35:58</td>   <td>32214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pages1.ClickonTab2()[pri:0, instance:SelniumDemo.SelniumDemo.Pages2@675d3402]">ClickonTab2</td> 
  <td>TestNG-test=Test-1@74913478</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>21/06/06 22:36:10</td>   <td>44500</td> <td>&nbsp;</td><td title="&lt;&lt;Pages2.terminatetest()[pri:0, instance:SelniumDemo.SelniumDemo.Pages2@675d3402]">&lt;&lt;terminatetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 22:35:13</td>   <td>-12410</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Pages1.testSetup()[pri:0, instance:SelniumDemo.SelniumDemo.Pages1@28feb3fa]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@74913478</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/06/06 22:35:36</td>   <td>10717</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Pages1.testSetup()[pri:0, instance:SelniumDemo.SelniumDemo.Pages2@675d3402]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@74913478</td>   <td></td> </tr>
</table>
